:root {
    --primary-navy-800: hsl(219, 30%, 18%);
    --primary-navy-850: hsl(217, 28%, 15%);
    --primary-navy-900: hsl(218, 28%, 13%);
    --primary-navy-950: hsl(216, 53%, 9%);

    --accent-teal-200: hsl(176, 68%, 64%);
    --accent-cyan-500: hsl(198, 60%, 50%);
    --accent-red-500: hsl(0, 100%, 63%);

    --neutral: hsl(0, 0%, 100%);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
}

h1,
h2,
h3 {
    color: var(--neutral);
}


.main-container {
    background-color: var(--primary-navy-900);
}

.hero-wrappper {
    width: 100%;
}

header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 25px 70px;
    background-color: var(--primary-navy-850);
    justify-content: space-between;
    align-items: center;
}

.img-header {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-header img {
    width: 100%;
}

header nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 500;
    color: var(--neutral);
    transition: 0.5s ease all;
}

header nav ul li a:hover {
    color: var(--accent-teal-200);
}

/* hero */
.hero-container {
    text-align: center;
    padding: 80px 0;
    width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: var(--primary-navy-850);
}

.hero-content {
    margin: auto;
    max-width: 700px;
}

.hero-img {
    margin: auto;
    width: 70%;
}

.hero-img img {
    width: 100%;
}

.hero-content h1 {
    margin-top: 15px;
    color: var(--neutral);
    font-size: 35px;
}

.hero-content p {
    margin-top: 30px;
    color: var(--neutral);
    font-size: 15px;
    font-weight: 500px;
}

.hero-btns {
    background: linear-gradient(135deg, var(--accent-teal-200), var(--accent-cyan-500));
    color: var(--neutral);
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.5s ease all;
    display: inline-block;
    text-align: center;
}

.hero-btns:hover{
        background: linear-gradient(135deg, var(--accent-cyan-500), var(--accent-teal-200));
}

.hero-bg {
    position: absolute;
    bottom: -15%;
    /* left: 0; */
    width: 100%;
    height: 75vh;
    z-index: -1;
    background: url("images/bg-curvy-desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media (max-width: 900px) {
    header {
        padding: 30px;
    }

    .hero-container {
        padding: 50px 20px;
    }

    .hero-bg {
        background: url(images/bg-curvy-mobile.svg);
    }
}

@media (max-width: 500px) {
    .img-header {
        width: 60px;
    }

    header nav ul {
        gap: 10px;
    }

    header nav ul li a {
        font-weight: 300;
    }

    .hero-content h1 {
        font-size: 25px;
    }

    .hero-content p {
        width: 100%;
    }
}

/* features */
.feature {
    width: 100%;
    padding: 40px 50px;
}

.feature-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    width: 70%;
    align-items: center;
}

.feature-col {
    width: 48%;
    text-align: center;
    margin-bottom: 40px;
}

.feature-img {
    width: 20%;
    margin: 0 auto 30px;
}

.feature-img img {
    width: 100%;
}

.feature-col p {
    color: var(--neutral);
    margin-bottom: 10px;
}

.feature-col h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--neutral);
}

@media (max-width: 900px) {
    .feature {
        padding: 40px 20px;

    }

    .feature-row {
        width: 90%;
    }
}

@media (max-width: 500px) {
    .feature-row {
        width: 100%;
    }

    .feature-col {
        width: 100%;
        padding: 30px 18px;
        background-color: var(--primary-navy-800);
    }
}


/* productive */
.productive {
    margin-top: 50px;
    padding: 50px;
}

.productive-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productive-col {
    width: 47%;
}

.productive-img img {
    width: 100%;
}

.productive-text h2 {
    margin-bottom: 25px;
    font-size: 25px;
}

.productive-text p {
    margin-bottom: 20px;
    text-align: justify;
    color: var(--neutral);
}

.productive-text a {
    display: inline-flex;
    gap: 5px;
    align-items: center;
    font-size: 15px;
    color: var(--accent-teal-200);
    text-decoration: none;
    position: relative;
    transition: 0.5s;
}

.productive-text a span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.productive-text a::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--accent-teal-200);
    position: absolute;
    top: 100%;
    left: 0;
}

.productive-text a:hover {
    transform: translateX(10px);
}

@media (max-width: 900px) {
    .productive {
        padding: 30px;
    }
}

@media (max-width: 500px) { 
    .productive-row {
        flex-wrap: wrap;
    }

    .productive-col {
        width: 100%;
    }
}

/* testimonials */
.testimonials {
    width: 100%;
    padding: 100px 50px 20px;
}

.testimonials-row {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1
}

.testimonial-cols {
    width: 31%;
    padding: 25px 15px;
    background-color: var(--primary-navy-800);
}

.quotes-icon {
    width: 35px;
    display: block;
    position: absolute;
    top: -20px;
    left: -15px;
    z-index: -1;
}

.testimonial-cols p {
    font-size: 13px;
    line-height: 1.8;
    color: var(--neutral);
}

.testimonial-cols .profile {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.testimonial-cols .profile img {
    width: 60px;
    border-radius: 50%;
}

@media (max-width:900px) {
    .testimonials {
    width: 100%;
    padding: 100px 20px;
}

.testimonials-row {
    width: 90%;
   flex-wrap: wrap;
}

.testimonial-cols {
    width: 48%;
    padding: 20px;
    margin-bottom: 20px;
}
}

@media (max-width:500px) {
    .testimonial-cols {
        width: 100%;
    }
    
}

/* info-wrapper */
.info-wrapper {
    width: 100%;
    height: 100px;
    position: relative;
}

.info {
    width: 60%;
    height: 300px;
    padding: 50px 40px;
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-navy-800);
}

.info h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.info p {
    margin-bottom: 40px;
    color: var(--neutral);
}

.info form {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 0;
}

.info form input {
    width: 65%;
    padding: 12px 10px;
    border: none;
    border-radius: 25px;
    outline: none;
    background-color: var(--neutral);
}

.info form button {
    width: 30%;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, var(--accent-teal-200), var(--accent-cyan-500));
    color: var(--neutral);
    padding: 11px 9px;
    border-radius: 25px;
    transition: all 0.5s ease;
}

.info form button:hover{
     background: linear-gradient(135deg, var(--accent-cyan-500), var(--accent-teal-200));

}
@media (max-width: 900px) {
    .info-wrapper {
        width: 100%;
        height: auto;
        position: static;
    }

    .info {
        width: 100%;
        height: auto;
        padding: 40px 20px;
        text-align: center;
        position: static;
        top: 0;
        left: 0;
        transform: translateX(0);
        margin: auto;
    }

    .info h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .info form {
        width: 90%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .info form input {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .info form button {
        width: 100%;
    }
}



/* footer */
footer {
    margin-top: 200px;
    width: 100%;
    background-color: var(--primary-navy-950);
    padding: 250px 50px 100px;
}

.footer-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
}

.footer-col {
    width: 27%;
}

.footer-logo {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.footer-logo img {
    width: 100%;
}

.footer-col p{
    color: var(--neutral);
}

.fylo-details {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.fylo-details a, .footer-list ul li a {
    text-decoration: none;
    color: var(--neutral);
    transition: .5s;
}

.fylo-details a:hover,
.footer-list ul li a:hover {
    color: var(--accent-teal-200);
}

.footer-col:nth-child(3) {
    width: 20%;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-list ul {
    list-style-type: none;
}

.footer-list ul li {
    line-height: 2;
    text-decoration: none;
    text-transform: capitalize;
}

.footer-col:nth-child(4) {
    width: 15%;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-icons a {
    text-decoration: none;
    width: 40px;
    height: 45px;
    background-color: var(--primary-navy-900);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: 0.5s;
    color: var(--accent-teal-200);
}

.social-icons a i{
    fill: var(--accent-teal-200);
}

.social-icons a:hover {
    background-color: var(--accent-cyan-500);
    transform: translateY(-3px);
}

.attributes {
    font-size: 11px;
    text-align: center;
    color: var(--neutral);
}

.attributes a {
    color: var(--accent-teal-200);
}

@media (max-width: 900px) {
     footer {
        margin-top: 0;
        padding: 50px 30px;
    }

    .footer-row {
        flex-wrap: wrap;
    }

    .footer-col {
        width: 48%;
        margin-bottom: 30px;
    }

    .footer-col:nth-child(3) {
        width: 48%;
    }

    .footer-col:nth-child(4) {
        width: 48%;
    }

    .social-icons {
        width: 60%;
    }
}

@media (max-width: 500px) {
    .footer-col {
        width: 100%;
        margin-bottom: 30px;
    }

    .footer-col:nth-child(3) {
        width: 100%;
    }

    .footer-col:nth-child(4) {
        width: 100%;
    }
}

@media (max-width: 350px) {
    .social-icons {
        width: 80%;
    }
}
